.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 8px 200px;
    margin-bottom: 8px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}
a {
    text-decoration: none;
    color: #f9faf8;
}

.banner {
    background-color: #1f2937;
    color: #f9faf8;
    height: 400px;
    padding: 48px 200px;
    display: flex;
    align-items: top;
    gap: 16px;
}

.banner-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: medium;
    font-weight: 700;
    padding: 8px 32px;
    border: #1f2937;
    flex-grow: 0;
}

h1 {
    width: 400px;
}
