body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 8px 200px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}
a {
    text-decoration: none;
    color: #f9faf8;
}

.banner {
    background-color: #1f2937;
    color: #f9faf8;
    height: 350px;
    padding: 48px 200px;
    display: flex;
    align-items: top;
    justify-content:center;
    gap: 50px;
}

.banner button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: medium;
    font-weight: 700;
    border-radius: 8px;
    padding: 8px 32px;
    border: #1f2937;
    flex-grow: 0;
}

h1 {
    width: 400px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 30px 300px;
}

h2 {
    font-size: 32px;
    font-weight: bolder;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 0px;
}

.image-text-block {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-text-block img {
    border: 5px solid #3882f6;
    border-radius: 16px;
}

.text-under-image {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.quote-text {
    flex-grow: 0;
    width: 900px;
    height: auto;
}

.quote-author {
    text-align: end;
    font-weight: 600;
}

.signup {

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-content {
    background-color: #3882f6;
    color: #f9faf8;
    height: 100px;
    width: 800px;
    margin: 75px 0px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.signup button {
    background-color: #3882f6;
    color: #f9faf8;
    border-color: #f9faf8;
    border-radius: 8px;
}

.signup-header {
    font-size: medium;
    font-weight: 600;
}

.footer {
    background-color: #1f2937;
    color:#f9faf8;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 32px 0px;
}
